.book{
    color:black;
     margin:2rem;
    padding:3rem; 
    border-color:black;
    box-shadow: 10px 10px 5px gray;
 }
 
.imgb{
    height: auto;
    width: 70%;
    align-items: center;
    text-shadow:2px 2px 8px #111;
    border: 5px black solid;
}
.book:hover{
    box-shadow:-1px 20px 60px -12px rgb(241, 3, 15);
 }
 .char{
    color:red; 
    margin:2rem;
    padding:3rem; 
    border-color:black;
    box-shadow: 10px 10px 5px gray;
 }
 .imgch{
    height: auto;
    width: 70%;
    align-items: center;
    text-shadow:2px 2px 8px #111;
    border: 5px black solid;
 }
 .char:hover{
    box-shadow:-1px 20px 60px -12px rgb(5, 100, 241);
 }
 .imgho{
    height: auto;
    width: 70%;
    align-items: center;
    text-shadow:2px 2px 8px black;
    border: 5px black solid;
}
.hou{
    color:black;
    margin:2rem;
    padding:3rem; 
    border-color:black;
    box-shadow: 10px 10px 5px gray;

 }
 .hou:hover{
    box-shadow:-1px 20px 60px -12px rgb(31, 241, 3);
 }